/* line 42, global/*.png */
.global-sprite, .global-wine-icon {
  background: url(/assets/global-sfea373d6c7.png) no-repeat;
}

/* line 60, /Users/nathan/.rvm/gems/ruby-2.0.0-p353@freon/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.global-wine-icon {
  background-position: 0 0;
  height: 983px;
  width: 983px;
}
