<table class="table table-striped">
    <thead>
        <tr>
            <th>Location</th>
            <th>Lat</th>
            <th>Long</th>
            <th>
                <div class="sorting">
                    <input class="search round_all" id="searchTask" type="text" placeholder="Search Headings...">
                    <a class="refresh-map" href = "#">
                        Refresh Map
                    </a>
                </div>
            </th>
            <th>Posted at</th>
            <th>View</th>

        </tr>
    </thead>
    <tbody id="postingList">


    </tbody>
</table>
